body{
    height: 100vh;
}

main{
    height: 100%;
    display: flex;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.contato .img{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/project_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contato .info{
    position: absolute;
    top: 25vh
}

.contato .info h2{
    margin-bottom: 10px;
    color: var(--cor-primaria);
    font-size: 3rem;
}

.contato .info h2 svg{
    margin-right: 20px;
}

.contato .info h4{
    margin-bottom: 50px;
    font-size: 2rem;
    color: #fff;
}

.form{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 60px;
}

.form h1{
    font-size: 3.75rem;
    margin-bottom: 50px;
    color: var(--cor-secundaria);
}

.form .inputs{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid var(--borda);
    margin-bottom: 20px;
}

.inputs label, .inputs input, .inputs textarea{
    padding: 10px;
}

.inputs label{
    color: var(--text);
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: 1px solid var(--borda);
}

.inputs input, .inputs textarea{
    width: 100%;
    height: max-content;
    border: none;
}

.inputs textarea{
    padding-bottom: 0;
}

.inputs input::placeholder, .inputs textarea::placeholder{
    color: var(--placeholder);
    font-size: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form > input{
    background-color: var(--cor-primaria);
    width: 300px;
    color: #fff;
    font-size: 2rem;
    font-weight: bolder;
    padding: 10px;
    border: 2px solid var(--cor-primaria);
    transition: 0.5s;
    cursor: pointer;
}

.form form > input:hover{
    color: var(--cor-primaria);
    background-color: #fff;
}