body{
    
}

main{
    height: 100%;
    display: flex;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.form{
    background-color: aquamarine;
}